apiVersion: v1
kind: Secret
metadata:
  name: agrosolutions-secrets
  namespace: agrosolutions
type: Opaque
data:
  # Codifique seus valores em Base64 antes de usar
  # Para codificar: [Convert]::ToBase64String([Text.Encoding]::UTF8.GetBytes("sua-string"))
  
  CONNECTION_STRING: ""
  RABBITMQ_HOST: ""
  RABBITMQ_PORT: ""
  RABBITMQ_USER: ""
  RABBITMQ_PASSWORD: ""
  SMTP_SERVER: ""
  SMTP_PORT: ""
  SMTP_USER: ""
  SMTP_PASSWORD: ""
  FROM_EMAIL: ""
  FROM_NAME: ""
  ENABLE_SSL: ""
  TIMEOUT_SECONDS: ""
  SIMULADOR_EMAIL: ""
  SIMULADOR_SENHA: ""
  GRAFANA_ADMIN_PASSWORD: ""
